{{#link-to 'question' question.id}}<div class="questionTile col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>{{question.user}}</strong></div>
    <div class="panel-body">
      "<em>{{question.userQuestion}}?</em>"
    </div>
  </div>
</div>{{/link-to}}
