.jumbotron {
  margin-bottom: 0px;
  background-image: url("http://www.pcmuseum.ca/gallery/0109-CompView-750.jpg.JPG");
  background-size: cover;
}
.jumbotron h1 {
  text-shadow: 1px 1px 0 white,
  -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white;
  text-align: center;
  font-family: monospace;
  /*background-color: white;*/
}

.questionNew {
  width: 400px;
  height: auto;
}

.panelStyle {
  width: 400px;
}

#questionAsked {
  border-bottom: solid 2px black;
  margin-bottom: 20px;
}

#questionAsked h4 {
  padding-left: 50px;
  padding-top: 10px;
}

#homeHeader {
  border-bottom: solid 2px black;
  margin-bottom: 20px;
}

.question button {
  width: 100px;
  margin-left: 15px;
}

.answers {
  width: 400px;
  height: auto;
}
