<div class="homePage">
  <h1 id="homeHeader">Question, question, who's got the question?</h1>

  <div class="row">
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
    {{question-new saveQuestion="saveQuestion"}}
  </div>
</div>
